astral==3.2
certifi==2024.2.2
charset-normalizer==2.0.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
fiona==1.9.6
geopandas==0.14.4
idna==3.7
joblib==1.4.2
kiwisolver==1.4.5
markdown-it-py==2.2.0
matplotlib==3.9.0
mdurl==0.1.0
networkx==3.5
numpy==1.26.4
osmnx==1.9.3
packaging==23.2
pandas==2.2.2
pillow==10.3.0
Pygments==2.15.1
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
rich==13.3.5
scikit-learn==1.5.2
scipy==1.13.1
shapely==2.0.4
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.1
urllib3==2.2.1
